@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0: hsl(158, 36%, 37%);
    --cor1: hsl(30, 38%, 92%);
    --cor2: hsl(212, 21%, 14%);
    --cor3: hsl(228, 12%, 48%);
    --cor4: hsl(0, 0%, 100%);
}

body{
    background-color: rgb(247, 237, 237);
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;

    width: 510px;
    height: 63.8vh;

    margin: auto;
    margin-top: 15vh;

    border-radius: 7px;
}


img{
    height: 400px;
    width: 250px;
    border-radius: 7px 0px 0px 7px;
}

#inf{
    width: 210px;
    height: 50vh;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;

}

h3{
    font-family: 'Fraunces', Courier, monospace;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.466);
    
}
h1{
    font-family:'Fraunces';
    font-size: 27px;
    margin-top: 15px;
}
#description{
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 1.7em; /* espaçamento entre linhas*/
    color: var(--cor3);
    text-align: start;
    margin-top: 20px;
}
#precoAtu{
    font-family: 'Fraunces';
    font-size: 30px;
    font-weight: bolder;
    color: rgb(2, 90, 2);
    margin-top: 15px;
}
#precoAnt{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    color: var(--cor3) ;
    margin-top: 25px;
    margin-left: 15px;
}
#preco{
    display: flex;
}

button{
    font-family: 'Montserrat';
    margin-top: 30px;
    padding: 10px;
    width: 210px;
    background-color: rgb(32, 170, 94);
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(27, 146, 81); 
    cursor: pointer;
}

.attribution{
    margin: auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}

@media screen and (min-width: 375px) {
    body{
        width: 350px;
    }

    section{
        
        background-color: white;
    
        width: 280px;
        height: 70vh;
    
        margin:auto;
        margin-top: 3vh;
    
        border-radius: 7px;
    }
    
    
    img{
        height: 290px;
        width: 280px;
        border-radius: 7px 7px 0px 0px;
    }
    #inf{
        height: 300px;
        background-color: white;
        margin-left: 20px;
    }
    
    h3{
        font-family: 'Fraunces', Courier, monospace;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.466);
        margin-top: -20px;
        
    }
    h1{
        font-family:'Fraunces';
        font-size: 25px;
        margin-top: 10px;
    }
    #description{
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 1.5em; /* espaçamento entre linhas*/
        color: var(--cor3);
        text-align: left;
        margin-top: 10px;
    }
    #precoAtu{
        font-family: 'Fraunces';
        font-size: 25px;
        font-weight: bolder;
        color: rgb(2, 90, 2);
        margin-top: 15px;
    }
    #precoAnt{
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: line-through;
        color: var(--cor3) ;
        margin-top: 25px;
        margin-left: 15px;
        font-size: 12px;
    }
    #preco{
        display: flex;
    }
    
    button{
        font-family: 'Montserrat';
        margin-top: 10px;
        padding: 13px;
        width: 240px;
        background-color: rgb(32, 170, 94);
        color: white;
        border: none;
        border-radius: 5px;
    }
    button:hover{
        background-color: rgb(27, 146, 81); 
        cursor: pointer;
    }
    .attribution{ 
        width: 200px;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}